.UserSttoryAssociatedTask{
    border-bottom:solid white 2px;
    margin :'2px';
    background: rgb(115, 171, 173,0.4);
    
    
}

.NotUserSttoryAssociatedTask{
    border-bottom:solid white 2px;
    margin :'2px';
    background: rgb(240, 107, 107,0.4);

}